<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="stylesheets/common.css">
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/jquery.presentation.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io.connect('http://sakura.mesolabs.com:3010/slide');
    socket.on('count', function(data) {
      console.log(data);
      if (data.count) {
        $('#count').text(data.count);
      }
    });
    var tweet = io.connect('http://localhost:3010/tweet');
    tweet.on('tweet', function(data) {
      console.log(data);
      if (data.tweet) {
        scroll(data.tweet);
      }
    });
    function scroll(str) {
    }
  </script>
</head>
<body>
  <%- body %>
</body>
</html>
